@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.editar{
    border: none;
    background-color: white;
    color: black;
}
.eliminar{
    border: none;
    background-color: white;
    color: red;
}

